.modal_dialog {
    max-width: 606px;
    .title {
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        margin-left: 12px;
    }
}

.modal_header {
    background-size: 10px 10px;
}

.addBtn {
    display: block;
    margin: 20px auto;
}

