body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #F9FAFF;
}

* {
  font-family: 'IBM Plex Sans', sans-serif;
  color: #2F2525;
  font-size: 14px;
}

